<div class="container">
<div *ngIf="annonce">
  <ng-container *ngIf="!editing">
      <button (click)="editing = true">Edit</button>
      <img src={{annonce.photos}} alt="">
      <h1>{{annonce.titre}}</h1>
      <P>{{annonce.description}}</P>
      <p>{{annonce.categories}}</p>
      <p>{{annonce.date|date:'dd/MM/yyyy'}}</p>
      <p>{{annonce.status}}</p>

  </ng-container>

  <app-form-annonce *ngIf="editing" [annonce]="annonce" (added)="updateAnnonce" />
</div>
<!-- On rajoute un petit loader qui s'affichera le temps que la requête http se fasse -->
<div *ngIf="!annonce">
  loading...
</div>
</div>
